

.container-admin{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #f3f3f3;
    margin-bottom: 20px;
    margin-left: 320px;
}


.box-input input, .content_text{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #e9ffe1;
    border: 1px solid #848484;
}

.btn-success{

    background-color: #7952b3;
    padding: 10px;
    border-radius: 5px;
    color: #e3e3e3;
    
}

.btn-success:hover{

    background-color: #8b5ecc;
    cursor: pointer;
    
}
.content{
    max-width: 100%!important;
}


.box-input{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}
.status{
    margin-bottom: 15px;
}
.status select{
    width: 100%;
    padding: 10px;
}

.btn-success{
    margin-bottom: 25px;
    width: 100%;
}

.popup-basket__your-order img{
	height: 2.5em;
}

.header__dropdown-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

.popup.open{
    z-index: 999!important;
}

.popup-basket__send-order{
    height: 50px;
    padding: 10px!important;
    width: 100%;
    color: #fff!important;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .push_box{
    display: block;
    background-color: #000;
    border-radius: 5px;
    width: 70%;
    padding: 10px;
    z-index: 9999;
    position: absolute;
    bottom: 0;
    color: #fff;
    left:-100%;
    
  }


  .push_box_remove{
    display: block;
    background-color: #000;
    border-radius: 5px;
    width: 70%;
    padding: 10px;
    z-index: 9999;
    position: absolute;
    bottom: 0;
    color: #fff;
    left:-100%;
  }

.dropdown-menu{
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-shadow: rgb(145, 145, 145) 2px 6px 11px -1px;
}

.remove_product{
    margin-top: 20px;
}

.completecode{
    background-color: #6fce5d!important;
}